* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
  text-align: center;
}

#contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  width: 150px;
  height: 50px;
}

#grid {
  flex-shrink: 0;
  border: 1px solid black;
}

.grid-square {
  height: 30px;
  width: 30px;
  border: none;
  float: left;
}

.black-square {
  background-color: black;
}

.clear {
  clear: both;
}

#footer {
  padding: 10px;
  text-align: center;
}
