* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
  text-align: center;
}

#contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  width: 180px;
  height: 55px;
  font-size: large;
  font-weight: bolder;
}

@keyframes rainbowText {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

#rainbow-mode {
  animation: rainbowText 4s linear infinite;
}

#grid {
  flex-shrink: 0;
  border: 1px solid black;
}

.grid-cell {
  height: 50px;
  width: 50px;
  border: none;
  float: left;
}

.clear {
  clear: both;
}

#footer {
  padding: 10px;
  text-align: center;
}
